*{
    margin: 0;
    box-sizing: border-box;  
}
header {
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999; 
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}
.logo img {
    width: 55px;
    height: 45px;
}
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    list-style: none;
    transition: transform 0.3s ease;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}
.navbar ul li:hover{
    transition: 0.3s ease;
    color: black;
    transform: scale(1.1) ;
}
body { /*layer 0*/ 
    background-color: black;/*bizim en dip katmanımız body'dir bu yüzden body'nin arkasına layer atamayı*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100vh;
   overflow-y: hidden;
}
.layer1{ /*layer 1*/ /*panaromik pd*/
    background-image: url('assets/853454.jpg'); /*bu layer body üstüne atıldı ki z-index sıralamında en altta yapabilmek için*/
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 998;
    transition: opacity 3s ease-in-out;
}
.layer2{ /*layer 2*/ /*gol manzarası*/
    background-image: url('assets/714106.png');/*buda zoomdan sonra ortaya çıkacak olan layere*/
    background-color: black;/*değişmesi gerekecek*/
    width:100%;
    height: 100vh;
    position: fixed;
    background-position: center;
    background-size: cover;
    z-index: 997;
    opacity: 0; /* Layer 2 başlangıçta görünmez */
    transition: opacity 7s ease-in-out;
}
#revealButton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1000;
    font-size: large;
    font-weight: 600;
}
#revealButton:hover {
    transition: 0.3s ease;
    background-color: #5c24e0;
}
.top-space {
    margin-top: 100px;
}
.layer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
/* ---------------------------------------------- */
.wrapper {
    width: 50%;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.text-side {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    scroll-snap-align: center;
    box-sizing: border-box;
    flex-shrink: 0; 
}
.wrapper2 {
    width: 80%;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
}
.image-side  {
    scroll-snap-align: center;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%; 
    background-color: black;
    border-radius: 15px;
    text-align: center;
}
.image-side img {
    width: 100%; 
    border: solid 20px black; 
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: none; 
}
::-webkit-scrollbar-thumb {
    background-color: #FF5733;
    border-radius: 10px;  
}
::-webkit-scrollbar-thumb:hover {
    background-color: #FFC300; /
}
::-webkit-scrollbar-thumb:active {
    background-color: #DAF7A6; 
}
.haeder {
    color: antiquewhite;
    margin-bottom: 15px;
}
.pragraf {
    color: antiquewhite;
}
.continu-button {
    position: relative;
    left: 5%;
    height: 30px;
    background-color: rgb(97, 8, 180);
    border-style: none;
    border-radius: 15px;
    color: black;
    padding: 5px 20px;
    font-style: italic;
    font-weight: 700;
    
}
.continu-button:hover {
    transition: 0.3s ease;
    background-color: rgb(68, 10, 122);
}
.music {
    background-color: rgb(97, 8, 180);
    border-style: none;
    border-radius: 50px;
    color: antiquewhite;
    padding: 5px;
    font-style: italic;
    font-weight: 700;
}
.music:hover {
    transition: 0.3s ease;
    background-color: rgb(68, 10, 122);
}
.buttons {
    width: 15%;
    display: flex;
    margin: 0 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.last-buttons {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}
.small-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}
.wave-container {
    display: flex;
    align-items: flex-end;
    height: 25px;
    width: 30px;
    justify-content: space-around;
    overflow: hidden;
}
.wave {
    width: 5px;
    height: 15px;
    background-color: #ff0000;
    animation: wave 1s infinite ease-in-out;
    border-radius: 5px;
}
.wave:nth-child(1) {
    animation-delay: 0s;
}

.wave:nth-child(2) {
    animation-delay: 0.2s;
}

.wave:nth-child(3) {
    animation-delay: 0.4s;
}

.wave:nth-child(4) {
    animation-delay: 0.6s;
}
.paused .wave {
    animation-play-state: paused;
}
@keyframes wave {
    0% {
        height: 20%;
    }
    30% {
        height: 60%;
    }
    60% {
        height: 100%;
    }
    100% {
        height: 60%;
    }
}
footer{
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: bisque;
    background-color: rgba(34, 31, 31, 0);
    position: absolute;
    top: 95%;
    z-index: 1000;
  }


@media (max-width: 850px) {
    /* Ekran genişliği 600px ve altı olan cihazlar için özel stiller buraya yazılır */
    body { /*layer 0*/ /*panaromik pd*/
        background-color: black;/*bizim en dip katmanımız body'dir bu yüzden body'nin arkasına layer atamayı*/
        background-size: cover;
        background-position: center;
        width:100%;
        height: 100vh;
        overflow-y: scroll;
       
    }
    .layer1{ /*layer 1*/ /*panaromik pd*/
        background-image: url('assets/853454.jpg'); /*bu layer body üstüne atıldı ki z-index sıralamında en altta yapabilmek için*/
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-size: cover;
        background-position: center;
        z-index: 998;
        transition: opacity 2s ease-in-out;
        overflow-y: scroll;
    }
    .layer2{ /*layer 2*/ /*gol manzarası*/
        background-image: url('assets/714106.png');/*buda zoomdan sonra ortaya çıkacak olan layere*/
        background-color: black;/*değişmesi gerekecek*/
        width:100%;
        height: 100vh;
        position: fixed;
        background-position: center;
        background-size: cover;
        z-index: 997;
        opacity: 0; /* Layer 2 başlangıçta görünmez */
        transition: opacity 7s ease-in-out;
        overflow-y: scroll;
    }
    .layer-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .wrapper {
        width: 95%;
        display: flex;
        gap: 20px;
        border-radius: 20px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .text-side {
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        border-radius: 20px;
        scroll-snap-align: center;
        box-sizing: border-box;
        flex-shrink: 0; 
    }
    .wrapper2 {
        width: 95%;
        display: flex;
        gap: 20px;
        border-radius: 20px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
    }
    .image-side  {
        scroll-snap-align: center;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%; 
        background-color: black;
        border-radius: 20px;
        text-align: center;
    }
    .image-side img {
        width: 100%; 
        border: solid 10px black; 
        border-radius: 20px;
    }
    .buttons {
        width: 35%;
        display: flex;
        margin: 0 5px;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
    }
    .last-buttons {
        margin-top: 3%;
        margin-bottom: 15%;
        display: flex;
        align-items: center;
        position: relative;
        left: 0%;
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 5px;
        background-color: none; 
    }
    ::-webkit-scrollbar-thumb {
        background-color: #FF5733;
        border-radius: 10px;  
    }
    
}
@media (max-width:600px) {
    
     .hamburger {
    
         display: block;
         position: absolute;
         left: 10px;
         z-index: 99999;
           
     }
     .navbar {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        height: 25%;
        width: 100px;
        padding-top: 0px;
        text-align: left;
        border-radius: 0;
      }
    
}
@media (max-width:600px) {
    .logo {
        display: flex;
        justify-content: end;
        position: absolute;
        left: 50%;
        
    }
    
    .hamburger {
        display: block;
        position: absolute;
        left: 10px;
        z-index: 9999;
        background-color: #ff6262;
        border-style: none;
        color:rgb(63, 0, 146);
        border-radius: 5px;
        width: 35px;
        height: 20px;
        z-index: 9999;
          
    }
    
    .navbar  ul{
       display: flex;
       flex-direction: column;
       background-color: #ff6262;
       position: fixed;
       top: 0%;
       left: 0%;
       width: 30px;
       height: 200px;
       padding-top: 10px;
       padding-right: 20%;
       margin-top: 70px;
       text-align: left;
       border-radius: 0;
       color: black;
       border-radius: 0px 0px 40px 0px;
       z-index: 9999;
     }
     .navbar ul li:hover {
        transform: translate(10px,0);
        transform: scale(1.2);
     }
   
}
@media (min-width: 600px) {
    .hamburger {
      display: none;
    }
  }